@keyframes animcube{
	from{
		transform: rotate3d(1, 1, 1, 0deg);
	}
	to{
		transform: rotate3d(1, 1, 1, 360deg);
	}
}
.cube{
	transform-style: preserve-3d;
	width: 302px;
	height: 302px;
	position: relative;
	animation: animcube 4s infinite;
	margin: 100px auto;
}
.cube div{
	width: 100px;
	height: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 100px;
    color: #ffffff;
}
.verx{
	background-color: #00BEEA;
	position: absolute;
}
.verx1{
	transform: translate3d(0px, -50px, -50px) rotateX(90deg);	
}
.verx2{
	transform: translate3d(0px, -50px, 55px) rotateX(90deg);
}
.verx3{
	transform: translate3d(0px, -50px, 160px) rotateX(90deg);
}
.verx4{
	transform: translate3d(105px, -50px, -51px) rotateX(90deg);
}
.verx5{
	transform: translate3d(105px, -50px, 55px) rotateX(90deg);
}
.verx6{
	transform: translate3d(105px, -50px, 160px) rotateX(90deg);
}
.verx7{
	transform: translate3d(210px, -50px, -51px) rotateX(90deg);
}
.verx8{
	transform: translate3d(210px, -50px, 55px) rotateX(90deg);
}
.verx9{
	transform: translate3d(210px, -50px, 160px) rotateX(90deg);
}



.vniz{
	background-color: #27E179;
	position: absolute;
}
.vniz1{
	transform: translate3d(0px, 265px, -50px) rotateX(90deg);
}
.vniz2{
	transform: translate3d(0px, 265px, 55px) rotateX(90deg);
}
.vniz3{
	transform: translate3d(0px, 265px, 160px) rotateX(90deg);
}
.vniz4{
	transform: translate3d(105px, 265px, -51px) rotateX(90deg);
}
.vniz5{
	transform: translate3d(105px, 265px, 55px) rotateX(90deg);
}
.vniz6{
	transform: translate3d(105px, 265px, 160px) rotateX(90deg);
}
.vniz7{
	transform: translate3d(210px, 265px, -51px) rotateX(90deg);
}
.vniz8{
	transform: translate3d(210px, 265px, 55px) rotateX(90deg);
}
.vniz9{
	transform: translate3d(210px, 265px, 160px) rotateX(90deg);
}



.pravo{
	background-color: #BE4E4C;
	position: absolute;
}
.pravo1{
	transform: translate3d(-55px, 5px, -50px) rotateY(90deg);
}
.pravo2{
	transform: translate3d(-55px, 5px, 55px) rotateY(90deg);
}
.pravo3{
	transform: translate3d(-55px, 5px, 160px) rotateY(90deg);
}
.pravo4{
	transform: translate3d(-55px, 110px, -51px) rotateY(90deg);
}
.pravo5{
	transform: translate3d(-55px, 110px, 55px) rotateY(90deg);
}
.pravo6{
	transform: translate3d(-55px, 110px, 160px) rotateY(90deg);
}
.pravo7{
	transform: translate3d(-55px, 215px, -51px) rotateY(90deg);
}
.pravo8{
	transform: translate3d(-55px, 215px, 55px) rotateY(90deg);
}
.pravo9{
	transform: translate3d(-55px, 215px, 160px) rotateY(90deg);
}



.levo{
	background-color: #EC6E2F;
	position: absolute;
}
.levo1{
	transform: translate3d(265px, 5px, -50px) rotateY(90deg);
}
.levo2{
	transform: translate3d(265px, 5px, 55px) rotateY(90deg);
}
.levo3{
	transform: translate3d(265px, 5px, 160px) rotateY(90deg);
}
.levo4{
	transform: translate3d(265px, 110px, -51px) rotateY(90deg);
}
.levo5{
	transform: translate3d(265px, 110px, 55px) rotateY(90deg);
}
.levo6{
	transform: translate3d(265px, 110px, 160px) rotateY(90deg);
}
.levo7{
	transform: translate3d(265px, 215px, -51px) rotateY(90deg);
}
.levo8{
	transform: translate3d(265px, 215px, 55px) rotateY(90deg);
}
.levo9{
	transform: translate3d(265px, 215px, 160px) rotateY(90deg);
}



.center{
	background-color: black;
	position: absolute;
}
.center1{
	transform: translate3d(0px, 0px, 215px);
}
.center2{
	transform: translate3d(105px, 0px, 215px);
}
.center3{
	transform: translate3d(210px, 0px, 215px);
}
.center4{
	transform: translate3d(0px, 105px, 215px);
}
.center5{
	transform: translate3d(105px, 105px, 215px);
}
.center6{
	transform: translate3d(210px, 105px, 215px);
}
.center7{
	transform: translate3d(0px, 210px, 215px);
}
.center8{
	transform: translate3d(105px, 210px, 215px);
}
.center9{
	transform: translate3d(210px, 210px, 215px);
}



.czadi{
	background-color: #EDE402;
	position: absolute;
}
.czadi1{
	transform: translate3d(0px, 0px, -105px);
}
.czadi2{
	transform: translate3d(105px, 0px, -105px);
}
.czadi3{
	transform: translate3d(210px, 0px, -105px);
}
.czadi4{
	transform: translate3d(0px, 105px, -105px);
}
.czadi5{
	transform: translate3d(105px, 105px, -105px);
}
.czadi6{
	transform: translate3d(210px, 105px, -105px);
}
.czadi7{
	transform: translate3d(0px, 210px, -105px);
}
.czadi8{
	transform: translate3d(105px, 210px, -105px);
}
.czadi9{
	transform: translate3d(210px, 210px, -105px);
}